header, body, footer {
	font-family: sans-serif; 
}
p{
	font-family: serif;
}

h1 {
	justify-content: center;
}

.index {
	text-align: center;
}

.intro {
	border-top: 1px solid gray;
}

img {
justify-content: right;
}

}
div h2, div p {
	border-top: 1px solid gray;
}

footer {
	text-align: center;
padding-top: 8px;
border-top: 1px solid gray;
}
.education li {
	font-family: sans-serif;
	}